:root{
    --primary-color: #469165;
    --secondary-color: #F95555;
    --background-color: #FBFBFB;
    --text-color: #627382;
    --heading-color:#001931;
    --black-color:#000000;
    --font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
    font-family: "Inter", sans-serif;
}

/* header style */
header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
}
header .logo a, header .logo a img{
    text-decoration: none;
    width: 139px;
    height: 60px;
}


header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
}

header .cta button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    cursor: pointer;

}

header .cta button:hover{
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}


/* hero section style */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 16px 8px;
    background-image: url("./assets/hero-bg.png");
    height: 674px;
    text-align: center;
    color: #fff;
    background-position: center center;
    background-size: cover;
}

.hero-section .hero-text h2{
    font-size: 16px;
    color: var(--primary-color);
    background-color: #fff;
    
    padding: 8px 16px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.hero-section .hero-text h2:before{
    content: "";
    display: inline-flex;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 0 0 #000000;
    animation: pulse 1.5s ease-out infinite;
    
}

@keyframes pulse {
  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--primary-color); /* fallback color */
    
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
  }
  100%{
    transform: scale(0.9);
    box-shadow: 0 0 0 10px rgba(17,115,183,0);
  }
}

.hero-section .hero-text h1{
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin: 16px 0;
    line-height: 72px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

.hero-section .hero-text h1 span{
    color: #30B868;
    display: block;
}

.hero-section .hero-text p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #fff;
    
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}


.hero-section .hero-text .cta{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.hero-section  .cta .hero-btn-1, .hero-section  .cta .hero-btn-2{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    align-items: center;
    font-family: var(--font-family);
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

} 

.hero-section .cta .hero-btn-1{
    background-color: #30B868;
    color: #fff;
}
.hero-section .cta .hero-btn-2{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff !important;
}

.hero-section .cta .hero-btn-1:hover{
    background: transparent;
    border: 2px solid #30B868;
    color: #30B868;
}
.hero-section .cta .hero-btn-2:hover{
    background-color: #fff;
    color: var(--black-color);
}

.features-section{
    padding: 50px 16px;
    max-width: 1400px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.features-section h2{
    font-size: 48px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 50px;
}

.features-section p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
}

.features-section .card-container{
    display: flex;
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
    align-items: stretch;
    text-align: center;

}

.features-section .card-container .cards{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0 0px 8px 0px rgba(0,0,0,0.1); 
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 300px;

}
.features-section .card-container .cards img{
    background-color: #F95555;
    padding: 10px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.features-section .card-container .cards h3{
    font-size: 24px;
    font-weight: 600;
    color: var(--heading-color);
    text-transform: capitalize;

}
.features-section .card-container .cards p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 28px;
}



/* Solution section */

.solution-section{
    padding: 50px 16px;
    max-width: 1400px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.solution-section .left-side img{
    width: 600px;
    height: 600px;
    object-fit: cover;

}

.solution-section .right-side{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: flex-start;
    text-align: left;

}
.solution-section .right-side h3{
    font-size: 16px;
    color: var(--primary-color);
    background-color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}

.solution-section .right-side h2{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 50px;
}

.solution-section .right-side p{
    font-size: 16px;
    color: var(--text-color);
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 16px;
}

.solution-section .right-side ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.solution-section .right-side ul li{
    font-size: 16px;
    color: #001931;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.solution-section .right-side ul li i{
    background: #30B868;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    font-size: 10px;
}


/* call to action bottom */
.cta-bottom{
    padding: 40px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    margin: auto;

    
}

.cta-bottom .cta-content {
    width: 100%;
    background-color: #F7F6F2;
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    border-radius: 12px;
}


.cta-bottom .cta-content h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--heading-color);
    line-height: 50px;
    text-transform: capitalize;
}
.cta-bottom .cta-content p{
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    line-height: 20px;   
}

.cta-bottom .cta-content button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    text-transform: capitalize;
}
.cta-bottom .cta-content button:hover{
    background: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.cta-bottom .cta-content .cta-footer-note{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    list-style: none;
    display: flex;
    gap: 30px;
}

.cta-bottom .cta-content .cta-footer-note li:last-child{
    list-style-type: disc;
}


/* Footer section */

footer{
    background: #001931;
    padding: 80px 40px 5px;
    color: #fff;
   
    margin: auto;
}
footer .footer-content{
     max-width: 1400px;
     margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 40px;  
    flex-wrap: wrap;
}

footer .footer-content div{
    width: 48%;
}
footer .footer-content .site-logo-footer a{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

footer .footer-content .social-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

footer .footer-content .social-links h4{
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
}
footer .footer-content .social-items{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    list-style: none;
}

footer .footer-content .social-items li a{
    color: #000;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 5px;
}

footer .footer-content .copyright-note{
    width: 100%;
    text-align: center;
    display: block;
    border-top: 1px solid #e5e7eb3d;
    padding: 20px;;
}

footer .footer-content .copyright-note p{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}