:root{
    --primary-color: #469165;
    --secondary-color: #F95555;
    --background-color: #FBFBFB;
    --text-color: #627382;
    --heading-color:#001931;
    --black-color:#000000;
    --font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-family: "Inter", sans-serif;
}
header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;

}
header .logo a, header .logo a img{
    text-decoration: none;
    width: 139px;
    height: 60px;
}


header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
}

header .cta button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

}