:root{
    --primary-color: #469165;
    --secondary-color: #F95555;
    --background-color: #FBFBFB;
    --text-color: #627382;
    --heading-color:#001931;
    --black-color:#000000;
    --font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    margin: auto;
    font-family: "Inter", sans-serif;
}

/* header style */
header{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #fff;
    max-width: 1400px;
    margin: auto;
}
header .logo a, header .logo a img{
    text-decoration: none;
    width: 139px;
    height: 60px;
}


header nav ul{
    display: flex;
    gap: 30px;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    color: var(--black-color);
    font-weight: 500;
    font-size: 16px;
}

header .cta button{
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

}


/* hero section style */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 16px 8px;
    background-image: url("./assets/hero-bg.png");
    height: 674px;
    text-align: center;
    color: #fff;
    background-position: center center;
    background-size: cover;
}

.hero-section .hero-text h2{
    font-size: 16px;
    color: var(--primary-color);
    background-color: #fff;
    
    padding: 8px 16px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: 5px;
}

.hero-section .hero-text h2:before{
    content: "";
    display: inline-flex;
    width: 8px;
    height: 8px;
    background-color: var(--primary-color);
    border-radius: 50%;
    margin-right: 8px;
    box-shadow: 0 0 0 0 #000000;
    animation: pulse 1.5s ease-out infinite;
    
}

@keyframes pulse {
  0%{
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--primary-color); /* fallback color */
    
  }
  70%{
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.3);
  }
  100%{
    transform: scale(0.9);
    box-shadow: 0 0 0 10px rgba(17,115,183,0);
  }
}

.hero-section .hero-text h1{
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    margin: 16px 0;
    line-height: 72px;
    font-family: var(--font-family);
    text-transform: capitalize;
}

.hero-section .hero-text h1 span{
    color: #30B868;
    display: block;
}

.hero-section .hero-text p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    color: #fff;
    
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}


.hero-section .hero-text .cta{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

}
.hero-section  .cta .hero-btn-1, .hero-section  .cta .hero-btn-2{
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    align-items: center;
    font-family: var(--font-family);
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

} 

.hero-section .cta .hero-btn-1{
    background-color: #30B868;
    color: #fff;
}
.hero-section .cta .hero-btn-2{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff !important;
}

.hero-section .cta .hero-btn-1:hover{
    background: transparent;
    border: 2px solid #30B868;
    color: #30B868;
}
.hero-section .cta .hero-btn-2:hover{
    background-color: #fff;
    color: var(--black-color);
}